* {
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
    overflow: hidden;
}

body {
    background-color: rgb(0, 0, 0);
    color: rgb(208, 205, 199);
}

.title {
    font-size: 6vw;
    margin: 14vh 20% 10px 20%;
}

.startButton {
    color: rgb(208, 205, 199);
    font-size: 7vw;
    margin: 10px 20% 10px 20%;
    border-radius: 20px;
    border: 4px rgb(208, 205, 199) solid;
    padding: 0 30px 0 30px;
    background-color: rgb(64, 125, 64);
}

.startButton:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(12, 213, 12);
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 25px;
    font-size: 2vw;
    /*font-weight: normal;*/
}

.objective {
    font-size: 3vw;
}

.waldo {
    width: 3vw;
    margin-left: 0.8vw;
}

.waldo:hover {
    cursor: default;
}

a {
    cursor: default;
}

.door {
    height: 27vw;
}

.doorOpen {
    height: 27vw;
}

.picture {
    margin: 0px 4vw;
    position: relative;
    display: inline-block;
}

.picture .doorOpen {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.picture:hover .doorOpen {
    cursor: pointer;
    display: inline;
}

.subObjective {
    margin-top: 5px;
    font-size: 1.5vw;
    margin-bottom: 40px;
}

.subObjectivePainting {
    margin-top: 5px;
    font-size: 1.5vw;
    margin-bottom: 90px;
}

a {
    text-decoration: none;
}

.painting {
    height: 16vw;
}

.paintingOpen {
    height: 16vw;
}

.picture .paintingOpen {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.picture:hover .paintingOpen {
    cursor: pointer;
    display: inline;
}
/*
.returnButton {
    color: rgb(208, 205, 199);
    font-size: 7vw;
    margin: 30px 20% 10px 20%;
    border-radius: 20px;
    border: 4px rgb(208, 205, 199) solid;
    padding: 0 30px 0 30px;
    background-color: rgb(125, 64, 64);
}

.returnButton:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(213, 12, 12);
    cursor: pointer;
}

.titleReturn{
    font-size: 5vw;
    margin: 14vh 20% 10px 20%;
}
*/

.statementButton {
    color: rgb(208, 205, 199);
    font-size: 2.5vw;
    margin: 30px 20% 10px 20%;
    border-radius: 20px;
    border: 4px rgb(208, 205, 199) solid;
    padding: 0 30px 0 30px;
    background-color: rgb(64, 100, 125);
}

.statementButton:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(12, 102, 213);
    cursor: pointer;
}